@import "all";

// VARIABLES *******************************************************************

$background-color: #FFFFFF;
$font-color: #000000;

// LAYOUT **********************************************************************

// 650
@include max-screen(800px) {
  // img.profile {
  //   margin-right: -150px;
  // }
  body.main {
    @include flex-direction(column);
  }
  .content.home {
    @include order(1);
    padding-right: 50px;
    padding-bottom: 50px;
  }
  img.profile {
    @include flex(none);
    height: 35%;
    @include align-self(flex-end);
    @include order(0);
  }
};


@include max-screen-height(800px) {
  @include max-screen(500px) {
    .contact-btn {
      display: none;
    }
    .content.resume > iframe {
      margin: 0px !important
    }
  };
};

@include min-screen(800px) {
  .content.home {
    //@include flex(1);
    margin-right: -20px;
  }
  img.profile {
    @include flex(none);
    height: 100%;
  }
};





// STYLING *********************************************************************

body.main {
  background: $background-color;
  color: $font-color;
  font-weight: 400;
  @include flexbox;
  .content {
    @include flex(1);
    z-index: 1;
    &.home {
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(center);
      @include align-content(center);
      @include align-items(center);
      padding-left: 50px;
    }
  }
  img {
    width: auto;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2em;
  max-width: 600px;
}

button {
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0px;
  border: 1px solid $font-color;
  background: $background-color;
  padding: 8px 24px;
  font-family: $main-font-stack;
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: 400;
  @include transition(background 0.5s);
  > a {
    @include transition(color 0.5s);
  }
  &:hover {
    background: $font-color;
    > a {
      color: $background-color !important;
    }
  }
  &:focus {
    outline: none;
  }
  > a {
    text-decoration: none;
    &, &:visited, &:active {
      color: $font-color;
    }
    &:hover {
      color: $background-color;
    }
  }
}

.menu {
  position: absolute;
  z-index: 10;
  left: 20px;
  > span {
    position: relative;
    margin-right: 0.5em;
    > a {
      @include abspos(0);
      text-decoration: none;
      &, &:visited, &:active {
        color: $font-color;
      }
    }
    &.clickable {
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    &.divider {
      bottom: 0.1em;
    }
  }
  &.top {
    top: 12px;
    text-transform: uppercase;
    font-weight: 700;
    span {
      font-size: 1.2rem;
    }
  }
  &.bottom {
    font-size: 2.5rem;
    bottom: 12px;
  }
}

.content.resume {
  @include flexbox;
  @include justify-content(center);
  > iframe {
    @include flex(1);
    max-width: 1000px;
    margin: 0px 50px;
  }
}
